// Estilos base

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	position: absolute;
	height: 80px;
	line-height: 70px;
	left: 20px;
	color: $color-base1;
}

h2 {
	padding: 50px 0 40px 0;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
}

header {
	position: fixed;
	background: $color-primario;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

