// Layout

body {
	width: 100%;
}

h2 {
	text-align: center;
}
// Layout navegacion principal

header {
	height: 80px;
	width: $full;
	ul {
		width: 450px;
	}
	li {
		height: 80px;
		margin: 0 10px;
		width: 100px;
	}
}

// Layout Secciones
.main,
.about,
.skills,
.portfolio,
.contact {
	width: $full;
}

.main {
	height: 600px;
}
.about {
	height: 600px;
}

.skills {
	height: 550px;
}

.portfolio {
	height: 500px;
}

.content {
	height: auto;
	margin: 0 auto;
	max-width: $max-width;
}


