//
// Variables
//

// Tipografia


// Colores
$color-primario: #F65810; //naranja-> #F65810 azul-> #204B96
$color-secundario: #B3B4B4; //gris se podria cambiar por el azul
$color-base1: #fff; //blanco
$color-base2: #000; //negro

// Layout
$full: 100%;
$max-width: 80%;
