// Estilos Seccion Contact

// Placeholders
%input {
	@include font-size(16);
	background: $color-base1;
	border: none;
	font-weight: 700;
	margin: 10px 0;
	padding: 1px 15px;
	width: $full;
}

%placeholder {
	&::-webkit-input-placeholder {
		color: $color-secundario;
	}
	&:-moz-placeholder { 
		color: $color-secundario;
	}
	&::-moz-placeholder { 
		color: $color-secundario;
	}
	&:-ms-input-placeholder {  
		color: $color-secundario;
	}	
}

.contact {
	background: $color-primario;
	color: $color-base1;
	text-align: center;
	h2 {
		color: $color-base1;
	}
	form {
		margin: 0 auto;
		width: 35%;
	}

	input[type="text"],
	input[type="email"] {
		@extend %input;
		@extend %placeholder;
		height: 40px; 
	}

	textarea {
		@extend %input;
		@extend %placeholder;
		height: 150px;
		padding: 8px 15px;
		font-family: 'Roboto', sans-serif;
	}

	button {
		@include font-size(18);
		background: transparent;
		border: 4px $color-base1 solid;
		color: $color-base1;
		font-weight: 700;
		padding: 5px 25px;

		&:hover{
			-moz-box-shadow:   	4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			box-shadow:         4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			background: $color-base1;
			color: $color-primario;

		}
	}
}