// EStilos Seccion Principal
.main {
	border-bottom: 1px solid;
	h2 {
		color: $color-primario;
		padding: 250px 0 20px 0;

	}
	h3 {
		@include font-size(20);
		color: $color-primario;
		font-weight: 400;
		text-align: center;
	}
	span {
		display: inherit;
		font-weight: 400;
		text-align: center;
	}
}