// Estilos navegacion

// Navegacion principal

.main-nav {
	ul {
		float: right;
		text-align: center;
	}
	li {
		display: inline-block;
		line-height: 75px;
		text-align: center;
	}
	a {
		@include font-size(14);
		color: $color-base1;
		font-weight: 700;
	}
}