// Estilos Section Portfolio

.portfolio {
	background: $color-base1;
	h2{
		color: $color-primario;
	}
	text-align: center;
}
.project {
	width: 200px;

    background: url("../img/demo.jpg") center center;
    background-size: cover;
    display: inline-block;
    height: 180px;
    margin: 0 5px;

	.overlay {  
		-moz-transition: opacity .50s ease;	
		-webkit-transition: opacity .50s ease;
		background:rgba(0,0,0,.75);
		width: $full;
        height: $full;
        opacity:0;
        text-align:center;
        top: 0px;
			h4 {
				@include font-size(20);
				color: $color-base1;
				line-height: 80px;
				}

			a {		
				img {
					width: 60px;
					height: 60px;
				}
				&:hover {
					text-decoration: none;
				}
			}	

		}
	
	&:hover .overlay {
        opacity:1;
    }	
}

.more-projects {
		@include font-size(16);
		background: $color-base1;
		border: 4px $color-primario solid;
		color: $color-primario;
		display: inline-block; 
		font-weight: 700;
		margin: 30px;
		margin: 30px;
		padding: 5px 25px;

		&:hover{
			-moz-box-shadow:   	4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			box-shadow:         4px 4px 3px 0px rgba(0, 0, 0, 0.3);
			background: $color-primario;
			border: 4px $color-primario solid;
			color: $color-base1;
			text-decoration: none;

		}
}