// Estilos Seccion Skills

.skills {
	background: $color-primario;
	color: $color-base1;
	margin: 0 auto;
	text-align: center; 
	h2 {
		color: $color-base1;
	}
	ul {
		list-style-type: none;
	}
	img {	
		-webkit-transition-duration: 1s;
    	-moz-transition-duration: 1s;
    	-o-transition-duration: 1s;
    	transition-duration: 1s;	
		-moz-box-shadow:   	4px 4px 3px 0px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.3);
		box-shadow:         4px 4px 3px 0px rgba(0, 0, 0, 0.3);
		background-image: $color-base2 center center;
		border-radius: 100px;
		height: 160px;
		width: 160px;
		overflow: hidden;
		&:hover {
			-webkit-transform:rotate(360deg);
		    -moz-transform:rotate(360deg); 
		    -o-transform:rotate(360deg);
		    box-shadow: none;
		}
	}
	
}
.skills_web,
.skills_desing,
.skills_program {
		display: inline-block;
		margin: 0 15px;
		h3 {
			@include font-size(20);
			font-weight: 900;
			text-transform: uppercase;
		}
		li {
			@include font-size(14);
			font-weight: 400;
		}
	}
	